# ignore the "wip" and "experimental" work in progress directories
**/wip/
**/experimental
.ipynb_checkpoints

# ignore ide files
.spyproject/

# ignore big files
**/*.mat
*.tgz
*.zip
*.tar

# ignore model checkpoints and logs
**/weights/
**/lightning_logs/

# ignore compiled python modules
**/__pycache__/
